/*  your css code here. If applicable */
#mainContainer{
	background-color:#f5f5f5;
	padding:15px;
}
.testimonials{
	padding:15px;
	background-color:#fff;
	margin:20px
}

.auther{
	font-style:italic;
	text-align:right;
}